<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td> <td><a href="https://wvuhpc.github.io/Interactive-Applications-Python/01-widgets/index.html">Matplotlib Widgets</a></td> </tr>
      <tr> <td>11:00</td> <td><a href="https://wvuhpc.github.io/Interactive-Applications-Python/02-shiny/index.html">Shiny for Python</a></td> </tr>
      <tr> <td>12:00</td> <td>Adjurn</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td> <td><a href="https://wvuhpc.github.io/Interactive-Applications-Python/03-pymunk/index.html">Introduction to Pymunk</a></td> </tr>
      <tr> <td>11:00</td> <td><a href="https://wvuhpc.github.io/Interactive-Applications-Python/04-pymunk/index.html">Examples using Pymunk</a></td> </tr>
      <tr> <td>12:00</td> <td>Adjurn</td> </tr>
    </table>
  </div>
</div>
